.service-section {
    padding: 80px 0 0;
}

.service-section .service-item {
    flex: 0 0 33.33%;
    max-width: 33.33%;
    padding: 0 15px;
    margin-bottom: 30px;
}

.service-section .service-item-inner {
    position: relative;
    overflow: hidden;
}

.service-section .service-item-inner img {
    width: 100%;
    display: block;
    filter: grayscale(100%);
    transition: all 0.5s ease;
}

.service-section .service-item-inner:hover img {
    filter: grayscale(0);
    transform: scale(1.1);
}

.service-section .service-item-inner .overlay {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease;
}

.service-section .service-item-inner:hover .overlay {
    background-color: transparent;
}

.service-section .service-item-inner .overlay h4 {
    color: map-get($colores, bgwhite );
    font-size: 20px;
    margin: 0;
    text-align: center;
    transition: all 0.5s ease;
    text-transform: capitalize;
}

.service-section .service-item-inner .overlay:hover {
    transform: translateX(30px);
    opacity: 0;
}