.work-section {
    padding: 50px 0 0;
}

.work-section .work-item {
    flex: 0 0 33.33%;
    max-width: 33.33%;
    padding: 0 15px;
    margin-bottom: 30px;
}

.work-section .work-item-inner img {
    width: 100%;
    display: block;
    transform: scale(1.1);
    transition: all 0.5s ease;
}

.work-section .work-item-inner:hover img {
    filter: grayscale(100%);
    transform: scale(1);
}

.work-section .work-item-inner {
    position: relative;
    cursor: pointer;
    overflow: hidden;
}

.work-section .work-item-inner .overlay {
    position: absolute;
    left: 0;
    top: 0;

    height: 100%;
    width: 100%;
    padding: 15px;
    display: flex;
    align-items: flex-end;
    transition: all 0.5s ease;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.6);
    /* background-color: transparent; */
}

.work-section .work-item-inner:hover .overlay {
    opacity: 1;
}

.work-section .work-item-inner .overlay h4 {
    color:map-get($colores, bgwhite );
    font-size: 20px;
    margin: 0;
    transform: translateX(30px);
    transition: all 0.5s ease;

}

.work-section .work-item-inner:hover .overlay h4 {
    transform: translateX(0);
}

/* lightboxx css */

.lightbox {
    position: fixed;
    z-index: 1099;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: zoom-out;
    display: none;
}

.lightbox.open {
    display: flex;
}

.lightbox .lightbox-img {
    /* max-height: 600px; */
    display: flex;
    width: auto;
    height: auto;
    max-width: 100%;
    padding: 40px 0;

    /* background-color: red; */
}

.lightbox .img-box {
    position: relative;
    cursor: auto;
}

.lightbox .lightbox-close {
    height: 30px;
    width: 30px;

    display: block;
    position: absolute;
    right: 0;
    top: 10px;
    font-size: 30px;
    color: map-get($colores, bgwhite );
    text-align: center;
    line-height: 26px;
    cursor: zoom-out;
}

.lightbox .lightbox-caption {
    color: map-get($colores, bgwhite );
    font-size: 16px;
    font-weight: 600;
    position: absolute;
    left: 0;
    bottom: 10px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.lightbox .lightbox-caption .lightbox-category {
    padding-right: 50px;

}

.lightbox .lightbox-controls .prev,
.lightbox .lightbox-controls .next {
    position: absolute;
    height: calc(100% - 80px);
    top: 40px;

    cursor: pointer;
    display: flex;
    align-items: center;


}

.lightbox .lightbox-controls .prev {
    left: 0;
    width: 50%;
    justify-content: flex-start;
    padding-left: 5px;
}

.lightbox .lightbox-controls .next {
    right: 0;
    width: 50%;
    justify-content: flex-end;
    padding-right: 5px;
}

.lightbox .lightbox-controls .prev img,
.lightbox .lightbox-controls .next img {
    width: 30px;
    height: 30px;

    padding: 5px;
    border-radius: 2px;
    transition: all 0.5s;
}

.lightbox .lightbox-controls .prev:hover img,
.lightbox .lightbox-controls .next:hover img {
    background-color: rgba(0, 0, 0, 0.5);
}